<div class="section">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Select</th>
        
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{item.name}}</td>
        <td>{{item.bYear}}</td>
        <td><button class="btn btn-success" (click)="selectActor(item)">+</button></td>
        
      </tr>
    </table>
  </div>
  <div class="alert alert-info" role="alert" *ngIf="selectedActor!=null">
      <h2>{{selectedActor.name}}</h2>
  </div>



  <div class="section">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Select</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{item.title}}</td>
        <td>{{item.year}}</td>
        <td><button class="btn btn-success" (click)="selectMovie(item)">+</button></td>
      </tr>
    </table>
  </div>

  <div class="alert alert-info" role="alert" *ngIf="selectedMovie!=null">
    <h2>{{selectedMovie.title}}</h2>
</div>

<div>
<button type="submit" class="btn btn-primary" (click)="onUpdateMovie()">Update Movie</button>
</div>


